.banner-content {
    font-size: 5em;
    color: red;
    padding: 160px;
    height: 100%;
}

footer {
    font-size: 0.75em;
    justify-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 20px;
}